.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.about{
  background-image: url('/static/img/placeholderbg.svg');
  background-repeat: no-repeat;
  background-position: right;
}

body {
  align-items: center;
}